.average_font_size a{
    font-size: 1.15em !important;
}
.paddin_menu{
    padding-bottom: 0.3em !important;
    padding-top: 0.3em !important;
}
.paddin_menu a{
    padding-bottom: 0.4em !important;
    padding-top: 0.3em !important;
}







